
/*   trikalon-nea   */

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

article {
    border: 1px solid #ccc;
    padding: 5px; /* ήταν 15 */
    margin-bottom: 5px; /* ήταν 15 */
    background-color: #E4F1F7; /*  E4F1F7  */
    text-indent: -20px;  /* 1η γραμμή  */
    padding-left: 20px   /* όλη η παράγραφος 0em */
    font-size: 18px;   /* το έβαλα 20-Αυγ-2026 */
    line-height: 1.6;  /* το έβαλα 20-Αυγ-2026 */
}

/* ------------------------------------------ */
/* Κουμπιά μεγέθους γραμματοσειράς */
#increaseFont,
#decreaseFont {
position: fixed;
bottom: 20px;
width: 150px;
height: 60px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
z-index: 1000;
}

#increaseFont {
right: 20px;
}

#decreaseFont {
left: 20px;
}

/* ------------------------------------------ */
/* Τίτλος άρθρου που αναπαράγεται */

.audio-title.playing {
    color: #1A365D;  /* ήταν d00000 ffffff 1A365D */
    cursor: pointer;
}

/*  ------------------------------------------ */
/* Πλαίσιο άρθρου που αναπαράγεται πιο γαλάζιο */
article:has(.audio-title.playing) {
    background-color: #8db5cc;     /* ήταν #CFEAF5  */
}
