
/*   trikalon-nea   */

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

article {
    border: 1px solid #ccc;
    padding: 5px; /* ήταν 15 */
    margin-bottom: 5px; /* ήταν 15 */
    background-color: #E4F1F7;
}

/* ------------------------------------------ */
/* Κουμπιά μεγέθους γραμματοσειράς */
#increaseFont,
#decreaseFont {
position: fixed;
bottom: 20px;
width: 150px;
height: 60px;
font-size: 20px;
font-weight: bold;
cursor: pointer;
z-index: 1000;
}

#increaseFont {
right: 20px;
}

#decreaseFont {
left: 20px;
}

/* ------------------------------------------ */
/* Τίτλος άρθρου που αναπαράγεται */

.audio-title.playing {
    color: #d00000;
    cursor: pointer;
}

/*  ------------------------------------------ */
/* Πλαίσιο άρθρου που αναπαράγεται πιο γαλάζιο */
article:has(.audio-title.playing) {
    background-color: #8db5cc;     /* ήταν #CFEAF5  */
}
